# Environment variables
.env

# Virtual environment
venv/
env/
ENV/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.pytest_cache/

# Distribution / packaging
dist/
build/
*.egg-info/

# Output files
output/
*.png
*.jpg
*.jpeg
*.svg

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 
reference/

commands.txt
